#form {
	top:120px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
	margin-bottom:0px;
	position:relative;
	background: #7ec3e5;
	display:block;
	width:700px;
	padding:0px;
	text-align:center;
	color: #FFFFFF;
	font-family: Courier New, Verdana;
	text-align: center;
	vertical-align: middle;
	border-radius: 15px;
	border: 2px solid #D1D1D1;
}

#optionsTable {
	display: table;
	table-layout: fixed;
	border: 0px;
	margin:0px;
	border-spacing:0px;
	border-collapse: collapse;
	width:100%;
}
.optionRow {
	display:table-row;
	width:100%;
	padding:0px;
}

.optionCell {
	display:table-cell;
	width:100%;

	margin: 0px auto;
	line-height: 30px;
	text-align: center;
	padding:0px;
}

.superTitle{
	color: #FFFFFF;
	font-weight: bold;
	font-family: Courier New, Verdana;
	text-align: center;
	font-size: 16px;
	height: 40px;
}
.title {
	background: #F2F2F2;
	display: block;
	color: #000;
	font-weight: bold;
	font-size: 14px;
}
.content {
	background: #FFF;
	height: 70px;
	font-size:14px;
}
.buttons {
	height: 40px;
}
.columnLabel {
	width:25%;
}

#status {
	background: #C4F2C7;
	font-weight: bold;
	width: 200px;
	height: 100px;
	line-height: 100px;
	top: 60px;
	left: 250px;
	margin: 0px auto;
	text-size: 14px;
	text-align: center;
	color: #000;
	border-radius: 15px;
	border: 4px solid #111111;
	display:none;
	position:absolute;
	font-style: Courier New, Verdana;
}

.input {
	font-style: Courier New, Verdana;
	text-align: center;
}
body {
	overflow:hidden;
	line-height:130%;
	display:block;
	margin:0px;
	width:100%;
	padding:0px;
	background: #898989 url('../images/bg_main.gif') repeat 0 1px fixed;
}

