body {
    overflow:hidden;
    line-height:130%;
    display:block;
    margin:20px;
    width:350px;
    padding:0px;
    background: #898989 url('../images/bg_main.gif') repeat 0 1px fixed;
    width:expression(document.body.clientWidth < 1200? "1200px": "auto" );
}
